This file will process the raw data according to standard processing for RNA seq data. The different normalization methods considered were stored in https://www.ncbi.nlm.nih.gov/pmc/articles/PMC6171491/.

In [5]:
import pandas as pd 
import cufflinks as cf
import pygmnormalize as gmn
import numpy as np

In [6]:
df = pd.read_csv('raw_data.tsv', sep='\t', header=0)
df

,Gene ID,Gene Name,SRR1782685,SRR1782686,SRR1782687,SRR1782688,SRR1782689,SRR1782690,SRR1782691,SRR1782692,...,SRR1782997,SRR1782998,SRR1782999,SRR1783000,SRR1783001,SRR1783002,SRR1783003,SRR1783004,SRR1783005,SRR1783006
0,ENSG00000000003,TSPAN6,469,107,807,458,173,159,187,223,...,767,371,288,628,580,411,711,697,792,454
1,ENSG00000000005,TNMD,7,0,11,0,0,2,4,0,...,9,3,0,3,6,0,3,0,6,0
2,ENSG00000000419,DPM1,238,199,288,220,260,97,108,122,...,381,333,200,376,235,159,643,342,341,297
3,ENSG00000000457,SCYL3,145,107,151,166,153,38,88,68,...,264,220,142,214,154,61,353,208,154,126
4,ENSG00000000460,C1orf112,35,43,22,39,37,18,25,21,...,84,58,38,56,59,23,114,56,33,24
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
65212,ENSG00000281918,NaN,0,1,0,6,1,0,2,0,...,2,0,1,0,2,0,3,0,2,1
65213,ENSG00000281919,NaN,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
65214,ENSG00000281920,AC007389.5,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
65215,ENSG00000281921,NaN,0,0,0,1,0,0,1,1,...,1,1,0,2,1,0,1,1,0,0
65216,ENSG00000281922,NaN,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [12]:
geneIDs = df['Gene ID']
geneNames = df['Gene Name']
print(geneIDs)
print(geneNames)
with open('gene_IDs.txt', "w") as f:
    for ID in geneIDs:
        f.write(str(ID)+"\n")
with open('geneNames.txt', "w") as f:
    for name in geneNames:
        f.write(str(name)+"\n")

0        ENSG00000000003
1        ENSG00000000005
2        ENSG00000000419
3        ENSG00000000457
4        ENSG00000000460
              ...
65212    ENSG00000281918
65213    ENSG00000281919
65214    ENSG00000281920
65215    ENSG00000281921
65216    ENSG00000281922
Name: Gene ID, Length: 65217, dtype: object
0            TSPAN6
1              TNMD
2              DPM1
3             SCYL3
4          C1orf112
            ...
65212           NaN
65213           NaN
65214    AC007389.5
65215           NaN
65216           NaN
Name: Gene Name, Length: 65217, dtype: object

In [16]:
df.drop('Gene ID', axis = 1, inplace = True)
df.drop('Gene Name', axis = 1, inplace = True)

In [21]:
norm_df = gmn.total_count_normalization(df)

In [ ]:
df.to_csv('norm_data.tsv', sep = '\t')